.env
.vscode/
01-building-dataset/01-baseline-COCO/cropped_image/
01-building-dataset/01-baseline-COCO/results
01-building-dataset/01-baseline-COCO/ontobench_coco_repo
02-evaluate-models/results/
__pycache__/
*.csv
*.log
01-building-dataset/02-pathqa-dataset/results/
02-evaluate-models/analysis_results/
.venv/
01-building-dataset/02-pathqa-dataset/logs/main.log
