accelerate==1.6.0
aiohappyeyeballs==2.6.1
aiohttp==3.11.14
aiosignal==1.3.2
annotated-types==0.7.0
anyio==4.9.0
asttokens==3.0.0
async-timeout==5.0.1
attrs
backcall
bert-score
bitsandbytes
blis
cachetools
catalogue
certifi
charset-normalizer
click
cloudpathlib
comm==0.2.2
confection==0.1.5
conllu==6.0.0
contourpy==1.3.0
cycler==0.12.1
cymem==2.0.11
datasets
debugpy
decorator
dill
distro
en_core_sci_scibert
exceptiongroup
executing
filelock
fonttools
frozenlist
fsspec
geojson
google-api-core
google-auth
googleapis-common-protos
h11
h5py
hf-xet
httpcore==1.0.9
httpx==0.28.1
huggingface-hub==0.30.2
idna==3.10
ImageHash==4.3.2
imagesize==1.4.1
importlib_metadata==8.6.1
importlib_resources==6.5.2
inquirerpy==0.3.4
ipykernel==6.29.5
ipython==8.12.0
jedi==0.19.2
Jinja2==3.1.6
jiter==0.9.0
joblib==1.4.2
jsonlines==4.0.0
jupyter_client==8.6.3
jupyter_core==5.7.2
kiwisolver==1.4.7
labelbox==7.1.2
langcodes==3.5.0
language_data==1.3.0
lbox-clients==1.1.2
llava==0.0.1.dev0
marisa-trie==1.2.1
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.9.4
matplotlib-inline==0.1.7
mdurl==0.1.2
mpmath==1.3.0
multidict==6.2.0
multiprocess==0.70.16
murmurhash==1.0.13
nest_asyncio
networkx
nltk
nmslib
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-cusparselt-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
openai
opencv-python
opencv-python-headless
openprompt
packaging
pandas
parso
pexpect
pfzy
pickleshare
pillow
pip
platformdirs
preshed
prompt_toolkit
propcache
proto-plus
protobuf
psutil
ptyprocess
pure_eval
pyarrow
pyasn1
pyasn1_modules
pybind11
pycocotools
pydantic
pydantic_core
pyGeoTile
Pygments
pyparsing
pyproj
pysbd
python-dateutil
python-dotenv
pytz
PyWavelets
PyYAML
pyzmq
regex
requests
rich
rouge
rsa
sacremoses
safetensors
scikit-learn
scipy
scispacy
seaborn
sentencepiece
setuptools
shapely
shellingham
six
smart-open
sniffio
spacy
spacy-alignments
spacy-legacy
spacy-loggers
spacy-transformers
srsly
stack_data
StrEnum
sympy
tensorboardX
thinc
threadpoolctl
tokenizers
torch
torchvision
tornado
tqdm
traitlets
transformers
triton
typeguard
typer
typing_extensions
typing-inspection
tzdata
urllib3
wasabi
wcwidth
weasel
wheel
wrapt
xxhash
yacs
yarl
zipp
